[Unit]
Description=Metabase
Documentation=http://www.metabase.com/docs
After=network-online.target
Wants=network-online.target

[Service]
User=metabase
WorkingDirectory=/var/lib/metabase
EnvironmentFile=-/etc/sysconfig/metabase
ExecStart=/usr/bin/metabase ${EXTRA_OPTS}
SuccessExitStatus=130
TimeoutStopSec=5s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
